@font-face {
  font-family: pac-font;
  src: url(fonts/PAC-FONT.TTF);
}

@font-face {
  font-family: emulogic;
  src: url(fonts/emulogic.ttf);
}

body {
  margin: 0;
  padding: 0;
  background: #000000;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
header {
  width: 100%;
  text-align: center;
}

h1 {
  color: #FCCF00;
  font: 2em sans-serif;  
  font-family: pac-font;
  text-shadow:   
  0 0 5px #ff0080,   
  0 0 0px #ff0080, 
  0 0 5px #ff0080; 
  justify-content: center;
}

a {
  background-color: #000000; 
  color: #FCCF00;
  padding: 18px 32px;  
  text-align: center;
  /*text-decoration: solid;*/
  font-family: emulogic;   
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  text-shadow:   
  0 0 5px #ff0080,   
  0 0 0px #ff0080, 
  0 0 5px #ff0080;  
}

#game {
    width: 80%;    
    height: 80%;
    border: 10px double hotpink;    
    box-shadow: inset 0 0px 4px hotpink,     
     0 0px 5px hotpink, 
     0 0px 10px coral;     
    border-radius: 25px;    
    margin-top: 10px;
    position: relative;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
#game > div {  
  text-align: center;
  /*background-color: #FCCF00;*/
}

footer {
  display: flex;
  color: #FCCF00;
  justify-content: center;
  font-family: emulogic;
}

#buttons {
    display: flex;
    justify-content: center;
    height: 70px;
}

.wall {
  
  
  border: 2px double hotpink;  
  box-shadow: inset 0 0px 4px hotpink,     
   0 0px 5px hotpink, 
   0 0px 10px coral;  
  position: relative;
  justify-content: center;
  align-content: center;
}
.vertical {
  width: 10%;
}
.horizontal {
  height: 15%;
}

.coin {
  background-color: rgb(218, 218, 29);
  border-radius: 40%;
  transform: scale(0.3);
  box-shadow: inset 0 0px 4px hotpink,     
   0 0px 15px hotpink, 
   0 0px 10px coral;
}

/*GHOSTs*/

.blinky{ background-color: red;}
.clyde{ background-color: orange;}
.inky{ background-color: cyan;}
.pinky{ background-color: pink;}

.ghost{
  border-radius: 100% 100% 0 0;
  display: inline-block;
  height: 80px;
  margin: 10px;
  position: relative;
  width: 60px;
}

.eyes{
  height: 60px;
  left: 1.5%;
  margin-left: 5px;
  position: absolute;
  width: 50px;
  top: 20px;
}

.eye{
  background: #fff;
  border-radius: 100%;
  height: 30px;
  width: 20px;
}

.iris{
  background: blue;
  border-radius: 100%;
  height: 10px;
  position: absolute;
  width: 10px;
  top: 10px;
}

.leftEye{ float: left; }
.leftEye .iris{ left: 5px; }

.rightEye{float: right; }
.rightEye .iris{ right: 5px; }

.ghostTail{
  background-repeat: repeat-x;
  bottom: -20px;
  height: 20px;
  position: absolute;
  width: 60px;
}

.blinky .ghostTail{
  background:
    linear-gradient(-45deg, transparent 75%, red 75%) 0 50%,
    linear-gradient( 45deg, transparent 75%, red 75%) 0 50%;
  background-size:20px 20px, 20px 20px;
}

.clyde .ghostTail{
  background:
    linear-gradient(-45deg, transparent 75%, orange 75%) 0 50%,
    linear-gradient( 45deg, transparent 75%, orange 75%) 0 50%;
  background-size:20px 20px, 20px 20px;
}

.inky .ghostTail{
  background:
    linear-gradient(-45deg, transparent 75%, cyan 75%) 0 50%,
    linear-gradient( 45deg, transparent 75%, cyan 75%) 0 50%;
  background-size:20px 20px, 20px 20px;
}

.pinky .ghostTail{
  background:
    linear-gradient(-45deg, transparent 75%, pink 75%) 0 50%,
    linear-gradient( 45deg, transparent 75%, pink 75%) 0 50%;
  background-size:20px 20px, 20px 20px;
}